*.aci
*.bundle
*.egg-info
*.idea
*.iml
*.pid
*.pyc
*.sqlite
*.sqlite-*.bak
*.tar.gz
/aci/*/target/
/aci/aci-base/target/
/aci/aci-builder-k8s/target/
/aci/aci-debian/target/
/aci/aci-enjoliver/target/
/chain/chain.ipxe
/discoveryC/discoveryC
/discoveryC/dist/
/ectl/ectl
/enjoliver-agent/enjoliver-agent
/enjoliver-api/.cache/
/enjoliver-api/.tox/
/enjoliver-api/enjoliver/ignition_journal/
/enjoliver-api/enjoliver/prometheus_multiproc_dir
/enjoliver-api/enjoliver/werkzeug_cache/
/enjoliver-api/static
/enjoliver-api/static/node_modules/
/enjoliver-api/templates
/enjoliver-api/tests/euid/ignition_journal/
/enjoliver-api/tests/inte/dbs/testapiadvanced.sqlite*.bak
/enjoliver-api/tests/inte/ignition_journal/
/enjoliver-api/tests/inte/test_resources/
/enjoliver-api/tests/ipxe.iso
/enjoliver-api/tests/paths.d/paths.json
/enjoliver-api/tests/test_certs/*.certificate
/enjoliver-api/tests/test_certs/*.issuing_ca
/enjoliver-api/tests/test_certs/*.private_key
/enjoliver-api/tests/test_certs/unseal.key
/enjoliver-api/tests/test_matchbox/groups/*.json
/enjoliver-api/tests/test_matchbox/profiles/*.json
/enjoliver-api/tests/testing.id_rsa
/enjoliver-api/tests/testing.id_rsa.pub
/enjoliver-api/tests/testing_kubeconfig.yaml
/enjoliver-api/tests/trustedkeys/
/enjoliver-api/tests/undionly.kkkpxe
/enjoliver-api/tests/unit/ignition_journal/
/enjoliver-api/tests/unit/test_resources/
/enjoliver-api/tests/unit/test_resources/test_00/
/enjoliver-api/tests/unit/unittest_resources/test_00
/enjoliver-api/tests/unit/unittest_resources/test_00.downloaded
/enjoliver-api/tests/unit/unittest_resources/test_01
/enjoliver/db.sqlite-*.bak
/enjoliver/enjoliver.render/
/enjoliver/ignition-journal/
/enjoliver/var_lib_enjoliver/ignition-journal/
/enjoliver/var_lib_matchbox/groups/*.json
/enjoliver/var_lib_matchbox/profiles/*.json
/hyperkube/apiserver
/hyperkube/controller-manager
/hyperkube/federation-apiserver
/hyperkube/federation-controller-manager
/hyperkube/hyperkube
/hyperkube/kubectl
/hyperkube/kubelet
/hyperkube/proxy
/hyperkube/scheduler
/hyperkube/workspace/hyperkube
/matchbox/assets/coreos/1*
/matchbox/assets/coreos/1353.7.0/
/matchbox/assets/coreos/container.json
/matchbox/assets/coreos/current
/matchbox/assets/coreos/current/
/matchbox/assets/coreos/image-id.json
/matchbox/assets/coreos/task-import-snapshot.json
/matchbox/assets/discoveryC/discoveryC
/matchbox/assets/keys
/node-agent/node-agent
/projectFilesBackup
/runtime/ac-config.yml
/runtime/acserver.d/
/runtime/acserver/
/runtime/acserver/acserver
/runtime/config.yml
/runtime/data
/runtime/data/
/runtime/dgr/
/runtime/helm/LICENSE
/runtime/helm/README.md
/runtime/helm/helm
/runtime/matchbox/
/runtime/paths.d/
/runtime/renders/*.render
/runtime/rkt/
/runtime/stage1.d
/runtime/target
CoreOS_Image_Signing_Key.asc
coreos_production_pxe.vmlinuz
coreos_production_pxe.vmlinuz.sig
coreos_production_pxe_image.cpio.gz
coreos_production_pxe_image.cpio.gz.sig
image.aci
serve
