*.aci
/aci/aci-base/target/
/aci/aci-builder-k8s/target/
/aci/aci-debian/target/
/aci/aci-enjoliver/target/
/aci/*/target/
*.bundle
.cache/
/chain/chain.ipxe
Flatcar_Image_Signing_Key.asc
flatcar_production_pxe_image.cpio.gz
flatcar_production_pxe_image.cpio.gz.sig
flatcar_production_pxe.vmlinuz
flatcar_production_pxe.vmlinuz.sig
/discoveryC/discoveryC
/discoveryC/dist/
/ectl/ectl
*.egg-info
/enjoliver-agent/enjoliver-agent
/enjoliver-api/.pytest_cache/
/enjoliver-api/.tox/
/enjoliver-api/build/
/enjoliver-api/dist/
/enjoliver-api/enjoliver/ignition_journal/
/enjoliver-api/enjoliver/prometheus_multiproc_dir
/enjoliver-api/enjoliver/werkzeug_cache/
/enjoliver-api/static
/enjoliver-api/static/node_modules/
/enjoliver-api/templates
/enjoliver/enjoliver.render/
/enjoliver/ignition-journal/
/enjoliver-testsuite/euid/ignition_journal/
/enjoliver-testsuite/inte/ignition_journal/
/enjoliver-testsuite/inte/test_resources/
/enjoliver-testsuite/ipxe.iso
/enjoliver-testsuite/paths.d/paths.json
/enjoliver-testsuite/test_certs/*.certificate
/enjoliver-testsuite/test_certs/*.issuing_ca
/enjoliver-testsuite/test_certs/*.private_key
/enjoliver-testsuite/test_certs/unseal.key
/enjoliver-testsuite/testing.id_rsa
/enjoliver-testsuite/testing.id_rsa.pub
/enjoliver-testsuite/testing_kubeconfig.yaml
/enjoliver-testsuite/test_matchbox/groups/*.json
/enjoliver-testsuite/test_matchbox/profiles/*.json
/enjoliver-testsuite/trustedkeys/
/enjoliver-testsuite/undionly.kkkpxe
/enjoliver/var_lib_enjoliver/ignition-journal/
/enjoliver/var_lib_matchbox/groups/*.json
/enjoliver/var_lib_matchbox/profiles/*.json
/hyperkube/apiserver
/hyperkube/controller-manager
/hyperkube/federation-apiserver
/hyperkube/federation-controller-manager
/hyperkube/hyperkube
/hyperkube/kubectl
/hyperkube/kubelet
/hyperkube/proxy
/hyperkube/scheduler
/hyperkube/workspace/hyperkube
*.idea
image.aci
*.iml
/matchbox/assets/flatcar/1*
/matchbox/assets/flatcar/1353.7.0/
/matchbox/assets/flatcar/container.json
/matchbox/assets/flatcar/current
/matchbox/assets/flatcar/current/
/matchbox/assets/flatcar/image-id.json
/matchbox/assets/flatcar/task-import-snapshot.json
/matchbox/assets/discoveryC/discoveryC
/matchbox/assets/keys
/node-agent/node-agent
*.pid
/projectFilesBackup
*.pyc
/runtime/ac-config.yml
/runtime/acserver/
/runtime/acserver/acserver
/runtime/acserver.d/
/runtime/config.yml
/runtime/data
/runtime/data/
/runtime/dgr/
/runtime/helm/helm
/runtime/helm/LICENSE
/runtime/helm/README.md
/runtime/matchbox/
/runtime/paths.d/
/runtime/renders/*.render
/runtime/rkt/
/runtime/stage1.d
/runtime/target
serve
*.tar.gz
